li {
    list-style-type: none;
}
ul {
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
}
.flex-container {
    display: flex;
}



.nav-links {
    display: flex;
    justify-content: right;
    flex-direction: row;
}
.text {
    justify-content:center ;
    padding-left: 200px;
}

footer{
    position:absolute;
    width:100%;
    bottom:0px;
    padding-left: 600px;
   

}