li {
    list-style-type: none;
}
.nav-links ul {
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
}
.flex-container {
    display: flex;
}
#menu{
    position:absolute;
    left: -200px;
}

.nav-links {
    display: flex;
    justify-content: right;
}
.note_button {
    margin-top: 10%;
    height: 30px;
    width:150px;
}
.Menu_button {
    border: 0px;
    position: absolute;
    height: 50px;
    width: 50px;
    left: -1%;
    top: 3%;
}

footer{
    display: flex;
    position:absolute;
    width:100%;
    bottom:0px;
    justify-content: center;
   

}
 .menu-bar{
    background-color: aqua;
    position: fixed;
    top: 0;
    left: 0;
    width: 190px;
    height: 100%;
    padding: 20px 0
     
 }
 .menu-bar .Menu_button-out{
    position: absolute;
    margin-left: 90%;
 }
 @media screen and (max-width: 600px){
 .menu-bar ul{
     display: flex;
     flex-direction: row;

}



}
.textbox{
    display: flex;
    justify-content: center;
 }
header{
margin-left: 10%;
}
