li {
    list-style-type: none;
}
.nav-links ul {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.flex-container {
    display: flex;
}
#menu{
    position:absolute;
    left: -200px;
}

.nav-links {
    display: flex;
    justify-content: right;
}
.note_button {
    border: 0px;
    margin-top: 10%;
    height: 50px;
    width:150px;
    background-color: #ebbcba;
    font-family: 'Roboto', sans-serif;
}

.Menu_button {
    border: 0px;
    position: absolute;
    height: 50px;
    width: 50px;
    left: -1%;
    top: 3%;
}
footer{
    display: flex;
    position:absolute;
    width:100%;
    bottom:0px;
    justify-content: center;

}
.menu-bar{
    font-family: 'Bebas Neue', cursive;
    background-color:#908caa ;
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    padding: 20px 0
}

 .menu-bar .Menu_button-out{
    background-color: #c4a7e7;
    border: 0px;
    position: absolute;
    margin-left: 80%;
 }
 @media screen and (max-width: 600px){
 .menu-bar ul{
     display: flex;
     flex-direction: row;
}
}
.textbox{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    background-color: #ebbcba;
}
body{
    background-color: #c4a7e7 ;
}
.menu-bar .menu_button{
font-family: 'Inspiration', cursive;   
}